<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <div class="min-h-screen flex flex-col items-center justify-center gap-10">
        <h1 class="text-7xl mb-8 font-thin ubuntu-regular">InOrder</h1>
        <div class="flex space-x-4">
            <a class="sbutton" href="/login">Login</a>
            <a class="sbutton" href="/register">Sign Up</a>
        </div>
    </div>
    
</body>
</html>