<!DOCTYPE html>
<html>
  <head>
    <title>InOrder</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="/stylesheets/style.css">  
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
    <script src="/javascripts/refresh.js" defer></script>
  </head>
  <body class="min-h-screen flex flex-col items-center justify-center gap-10">
      <div class="ubuntu-bold text-7xl">Oops!</div>
      <div class="ubuntu-bold text-4xl"><%= message %></div>
      <div class="ubuntu-bold text-xl"><%= desc %></div>
  </body>
</html>
