@import "tailwindcss";

.sbutton {
  background-color: white;
  border-width: 2px;
  box-shadow: white;
  border-radius: 0.25rem;
  padding-inline: 1rem;
  padding-block: 0.5rem;
  transition: transform 0.1s linear;
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-style: normal;
}



.sbutton:hover {
  transform: translateY(-0.1rem);
  transition: transform 0.1s linear;
}


body {
  background-color: rgb(255, 239, 227);
}

.ubuntu-light {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.ubuntu-regular {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.ubuntu-medium {
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.ubuntu-bold {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.ubuntu-light-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.ubuntu-regular-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.ubuntu-medium-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.ubuntu-bold-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-style: italic;
}


.order-card {
  background-color: white;
  border-radius: 0.25rem;
  border-width: 2px;
  padding: 1rem;
  box-shadow: white;
  transition: transform 0.1s linear;
  cursor: pointer;
  flex-direction: row;
  display: flex;
  gap:1rem;
  align-items: center;
  justify-content: space-between;
}

.order-card:hover {
  transform: translateY(-0.2rem);
  transition: transform 0.1s linear;
}

.item-card {
  background-color: white;
  border-radius: 0.5rem;
  border-width: 2px;
  padding: 1rem;
  box-shadow: white;
  flex-direction: row;
  display: flex;
  gap:1rem;
  width: 22rem;
  align-items: center;
  justify-content: space-between;
}

.add-order-card {
  background-color: white;
  border-radius: 0.25rem;
  border-width: 2px;
  padding: 1rem;
  box-shadow: white;
  transition: transform 0.1s linear;
  cursor: pointer;
  flex-direction: column;
  display: flex;
  gap:0.5rem;
  align-items: center;
  justify-content: space-between;
}

.add-order-card:hover {
  transform: translateY(-0.2rem);
  transition: transform 0.1s linear;
}

.tag {
  border: 2px solid;
  border-radius: 0.25rem;
  text-align: center;
  font-family: "Ubuntu", sans-serif;
  padding: 0.1rem 0.5rem;
}

.tag-selected {
  background-color: rgb(243, 251, 255)
}

.tag-selector {
  cursor: pointer
}